{% extends 'base.html' %}

{% block content %}

<div class="row mt-4">
  {% for search_movie in page_obj %}
  <div class="card col-3">
      <img src="https://image.tmdb.org/t/p/w342/{{ search_movie.poster_path }}" class="card-img-top mt-2" style="height:350px" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>{{ search_movie.title }}</strong></h5>
        <form class="like-form" data-movie-id='{{search_movie.movie_id}}'>
          {% csrf_token %}
          {% if user in search_movie.liker.all %}
          <li class="d-flex align-items-center">
            <button class="btn btn-link">
              <i id='like-btn-{{search_movie.movie_id}}' class="fas fa-heart fa-lg" style="color:crimson;"></i>
            </button>
          </li>
          {% else %}
          <li class="d-flex align-items-center">
            <button class="btn btn-link">
              <i id='like-btn-{{search_movie.movie_id}}' class="fas fa-heart fa-lg" style="color:gray;"></i>
            </button>
          </li>
          {% endif %}
        </form>
        <li class="d-flex align-items-center">
        <span id = 'like-count-{{search_movie.movie_id}}'>{{ search_movie.liker.all|length }} </span>Likes<br>
        </li>
        <div class="text-right">
          <a href="{% url 'movies:movie_detail' search_movie.movie_id %}" class="btn btn-dark">Movie's Detail</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="text-center mt-2 mb-2" style="font-size:20px">
 {% if page_obj.has_previous %}
   <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm mr-1">Back</a>
 {% endif %}
   <span>{{ page_obj.number }}</span>
   <span>/</span>
   <span>{{ page_obj.paginator.num_pages }}</span>
 {% if page_obj.has_next %}
   <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm ml-1">Next</a>
 {% endif %}
</div>

{% endblock %}
{% block script %}
<script>
    const forms = document.querySelectorAll('.like-form')
    const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]')
    const csrftoken = csrfTokenInput.value
    forms.forEach(form => {
      //console.log(form,'들어왔니')
      form.addEventListener('submit',(event)=>{
        event.preventDefault()
        const movieId = form.dataset.movieId
        axios.post(`/movies/${movieId}/like/`,
          {},
          {headers: {'X-CSRFToken': csrftoken}}
          )
          // 응답을 인자로 넘겨줌!
            .then((response)=>{
              if (response.data.error === 'unauthorized') {
                window.location.href = '/accounts/login/'
              }
              //응답오면 좋아요 표시 수정, 사람수 수정
              const likeBtn = document.querySelector(`#like-btn-${movieId}`)
              const likeCount = document.querySelector(`#like-count-${movieId}`)
              likeBtn.style.color = response.data.liked ? 'crimson' : 'gray'
              // 응답이 왔을 때 좋아요 표시 
              likeCount.innerText = response.data.count
          })
      })
    })
</script>
{% endblock script %}
