{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div>
        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <h2 class="entry-title">
                <p>{{ movie.title }}</p>
                <p>{{ movie.original_title }}</p>
              </h2>
              {% comment %} <div class="entry-img">
                <!-- 여기 예고편, 안되면 포스터  넣자 -->
                <!-- <youtube 
                :video-id="videoId"
                @ready="ready" @playing="playing"
                :player-vars="{ autoplay: 1 }"
                ></youtube> -->
                <img src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" class="img-fluid" alt="">
              </div> {% endcomment %}
              


              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i><strong>{{movie.vote_average}} / {{movie.vote_count}}</strong></li>
                  <form class="like-form" data-movie-id='{{movie.pk}}'>
                    {% csrf_token %}
                    {% if user in movie.like.all %}
                    <li class="d-flex align-items-center">
                      <button class="btn btn-link">
                        <i id='like-btn-{{movie.pk}}' class="fas fa-heart fa-lg" style="color:crimson;"></i>
                      </button>
                    </li>
                    {% else %}
                    <li class="d-flex align-items-center">
                      <button class="btn btn-link">
                        <i id='like-btn-{{movie.pk}}' class="fas fa-heart fa-lg" style="color:gray;"></i>
                      </button>
                    </li>
                    {% endif %}
                  </form>
                  <li class="d-flex align-items-center">
                  <span id = 'like-count-{{movie.pk}}'>{{ movie.like.all|length }} </span>Likes<br>
                  </li>
                </ul>
              </div>

              <div class="entry-content">
                <blockquote>
                  <i class="icofont-quote-left quote-left"></i>
                  <p>
                    {{movie.overview}}  
                  </p>
                  <i class="las la-quote-right quote-right"></i>
                  <i class="icofont-quote-right quote-right"></i>
                </blockquote>

              </div>
            
            </article><!-- End blog entry -->
            <!-- 리뷰 링크 -->
            {% for review in movie_reviews %}
            <div class="blog-author clearfix">
              {% comment %} <img src="assets/img/blog-author.jpg" class="rounded-circle float-left" alt=""> {% endcomment %}
              <h4>{{review.author}}</h4>
              <p>
                {{review.content}}
              </p>
            </div><!-- End blog author bio -->
            {% endfor %}
            <h3><strong>유사한영화추천</strong></h3>
            {% comment %} 유사한 영화 {% endcomment %}
            <div class="row mt-4">
            {% for similar_movie in similar_movies %}
              <div class="card col-3">
                <img src="https://image.tmdb.org/t/p/w342/{{similar_movie.poster_path }}" class="card-img-top mt-2" style="height:350px" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{similar_movie.title }}</strong></h5>

                  <div class="text-right">
                    <a href="{% url 'movies:movie_detail' similar_movie.id %}" class="btn btn-dark">Movie's Detail</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">
              <!-- 영화 출연진들 보이기 -> 이거도 각 컴포넌트로 만들어서 돌려야되나? ㅎ-->
              <h3 class="sidebar-title">Credits</h3>
              {% for actor in actors %}
                <div class="sidebar-item recent-posts">
                  <div class="post-item clearfix">
                    <img src="https://image.tmdb.org/t/p/w342/{{ actor.profile_path }}" alt="">
                    <h4><p>{{actor.name}}</p></h4>
                    {% comment %} <time datetime="2020-01-01">Jan 1, 2020</time> {% endcomment %}
                  </div>
              {% endfor %}

                  {% comment %} <div class="post-item clearfix">
                    <img src="assets/img/business-20.jpg" alt="">
                    <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                    <time datetime="2020-01-01">Jan 1, 2020</time>
                  </div> {% endcomment %}


              </div><!-- End sidebar recent posts-->
            </div><!-- End sidebar -->
          </div><!-- End blog sidebar -->
        </div>
      </div>
    </section><!-- End Blog Section -->
 

{% endblock%}

{% block script %}
<script>
    const forms = document.querySelectorAll('.like-form')
    const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]')
    const csrftoken = csrfTokenInput.value
    forms.forEach(form => {
      //console.log(form,'들어왔니')
      form.addEventListener('submit',(event)=>{
        event.preventDefault()
        const movieId = form.dataset.movieId
        axios.post(`/movies/${movieId}/like/`,
          {},
          {headers: {'X-CSRFToken': csrftoken}}
          )
          // 응답을 인자로 넘겨줌!
            .then((response)=>{
              if (response.data.error === 'unauthorized') {
                window.location.href = '/accounts/login/'
              }
              //응답오면 좋아요 표시 수정, 사람수 수정
              const likeBtn = document.querySelector(`#like-btn-${movieId}`)
              const likeCount = document.querySelector(`#like-count-${movieId}`)
              likeBtn.style.color = response.data.liked ? 'crimson' : 'gray'
              // 응답이 왔을 때 좋아요 표시 
              likeCount.innerText = response.data.count
          })
      })
    })
</script>
{% endblock script %}

