{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div>
        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <!-- 여기 예고편, 안되면 포스터  넣자 -->
                <!-- <youtube 
                :video-id="videoId"
                @ready="ready" @playing="playing"
                :player-vars="{ autoplay: 1 }"
                ></youtube> -->
                <img src="assets/img/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <p>{{ movie.title }}</p>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i><strong>{{movie.vote_average}} / {{movie.vote_count}}</strong></li>
                  <form class="like-form" data-movie-id='{{movie.pk}}'>
                    {% csrf_token %}
                    {% if user in movie.liker.all %}
                    <li class="d-flex align-items-center">
                      <button class="btn btn-link">
                        <i id='like-btn-{{movie.pk}}' class="fas fa-heart fa-lg" style="color:crimson;"></i>
                      </button>
                    </li>
                    {% else %}
                    <li class="d-flex align-items-center">
                      <button class="btn btn-link">
                        <i id='like-btn-{{movie.pk}}' class="fas fa-heart fa-lg" style="color:gray;"></i>
                      </button>
                    </li>
                    {% endif %}
                  </form>
                  <li class="d-flex align-items-center">
                  <span id = 'like-count-{{movie.pk}}'>{{ movie.liker.all|length }} </span>Likes<br>
                  </li>
                </ul>
              </div>
              <div class="row"><strong>Genres</strong>
                {% for genre in movie.genres.all %}
                  <p> {{ genre.name }}, </p>
                {% endfor %}
              </div>

              <div class="entry-content">
                <blockquote>
                  <i class="icofont-quote-left quote-left"></i>
                  <p>
                    {{movie.overview}}  
                  </p>
                  <i class="las la-quote-right quote-right"></i>
                  <i class="icofont-quote-right quote-right"></i>
                </blockquote>

              </div>

            </article><!-- End blog entry -->
            <!-- 리뷰 링크 -->
            <div class="blog-author clearfix">
              <img src="assets/img/blog-author.jpg" class="rounded-circle float-left" alt="">
              <h4>Jane Smith</h4>
              <div class="social-links">
                <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
                <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a>
              </div>
              <p>
                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
              </p>
            </div><!-- End blog author bio -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">
              <!-- 영화 출연진들 보이기 -> 이거도 각 컴포넌트로 만들어서 돌려야되나? ㅎ-->
              <h3 class="sidebar-title">출연진</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/business-6.jpg" alt="">
                  <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/business-20.jpg" alt="">
                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/business-26.jpg" alt="">
                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/business-30.jpg" alt="">
                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/business-16.jpg" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->
            </div><!-- End sidebar -->
          </div><!-- End blog sidebar -->
        </div>
      </div>
    </section><!-- End Blog Section -->
 

{% endblock%}

{% block script %}
<script>
    const forms = document.querySelectorAll('.like-form')
    const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]')
    const csrftoken = csrfTokenInput.value
    forms.forEach(form => {
      //console.log(form,'들어왔니')
      form.addEventListener('submit',(event)=>{
        event.preventDefault()
        const movieId = form.dataset.movieId
        axios.post(`/movies/${movieId}/like/`,
          {},
          {headers: {'X-CSRFToken': csrftoken}}
          )
          // 응답을 인자로 넘겨줌!
            .then((response)=>{
              if (response.data.error === 'unauthorized') {
                window.location.href = '/acccounts/login/'
              }
              //응답오면 좋아요 표시 수정, 사람수 수정
              const likeBtn = document.querySelector(`#like-btn-${movieId}`)
              const likeCount = document.querySelector(`#like-count-${movieId}`)
              likeBtn.style.color = response.data.liked ? 'crimson' : 'gray'
              // 응답이 왔을 때 좋아요 표시 
              likeCount.innerText = response.data.count
          })
      })
    })
</script>
{% endblock script %}

