{% extends 'base.html' %}

{% block content %}
  <div id="articles" class="mt-4">
    <h2 class='mb-4 text-center display-4'>Article Detail</h2>
    <hr>
    <h2 class='ml-2'>{{ article.title }}</h2>
    <hr class="mb-0">
    <p class='ml-2 mt-3'>{{ article.content }}</p>
    <div class="text-right">
      <p class="mb-0">작성 시간: {{ article.created_at }}</p>
      <p class="mb-0">수정 시간: {{ article.updated_at }}</p>
      <p class="mb-0">작성자: {{ article.user }}</p>
    </div>

    {% if request.user == article.user %}
    <div class='mt-2 d-flex justify-content-end'>
      <a href="{% url 'articles:update_article' article.pk %}" class='btn btn-warning btn-sm mr-1'><i class="far fa-edit"></i></a>
      <form action="{% url 'articles:delete_article' article.pk %}" method='POST'>
          {% csrf_token %}
          <button class='btn btn-danger btn-sm mr-1'><i class="far fa-trash-alt"></i></button>
      </form>
    </div>
    {% endif %}
    <hr>

    {% if request.user.is_authenticated %}
    <div class='d-flex justify-content-between mt-4'>
      <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
          {% csrf_token %}
            <p class="mb-1">댓글 : {{ comment_form }} <button class='ml-2 btn btn-primary btn-sm'><i class="fas fa-plus-circle"></i></button></p>
      </form>
      <a href="{% url 'articles:index' %}" class="btn btn-dark ">뒤로가기</a>
    </div>
      <br>
    {% endif %}
    <table class="table">
      {% for comment in comments %}
      <tbody>
        <tr class="text-light">
          <td style="width: 9%" class='p-1'>{{ comment.user.username }}</td>
          <td style="width: 64%" class='p-1'>{{ comment.content }}</td>
          <td style="width: 19%" class='p-1'>{{ comment.created_at}}</td>
          {% if comment.user == request.user %}
          <td style="width: 4%" class='p-1'>
            <a href="{% url 'articles:update_comment' article.pk comment.pk %}" class="btn btn-warning btn-sm " alt="수정"><i class="far fa-edit"></i></a>
          </td>
          <td style="width: 4%" class='p-1'>
            <form action="{% url 'articles:delete_comment' article.pk comment.pk %}" method="POST">
                  {% csrf_token %}
                  <button class='btn btn-danger btn-sm mr-1'><i class="far fa-trash-alt"></i></button>
            </form>
          </td>
          {% else %}
          <td></td>
          <td></td>
          {% endif %}
        </tr>
        <tr>
          {% if request.resolver_match.url_name == 'update_comment' %}
              {% if comment.pk == comment_pk %}
                  <td class='p-1'>↑</td>
                  <form action="{% url 'articles:update_comment' article.pk comment.pk%}" method="POST">
                      {% csrf_token %}
                      <td class='p-1'>{{ update_form.as_p }}</td>
                      <td class='p-1'><button class='btn btn-primary btn-sm'>수정</button></td>
                  </form>
                  <td class='p-1'></td>
                  <td class='p-1'></td>
              {% endif %}
          {% endif %}
        </tr>
      </tbody>
      {% endfor %}
    </table>

  </div>
{% endblock %}